:root {
    --inter-40-black-font-family: "Inter", Helvetica;
    --inter-40-black-font-weight: 900;
    --inter-40-black-font-size: 40px;
    --inter-40-black-letter-spacing: 0px;
    --inter-40-black-line-height: normal;
    --inter-40-black-font-style: normal;
    --inter-40-black-italic-font-family: "Inter", Helvetica;
    --inter-40-black-italic-font-weight: 900;
    --inter-40-black-italic-font-size: 40px;
    --inter-40-black-italic-letter-spacing: 0px;
    --inter-40-black-italic-line-height: normal;
    --inter-40-black-italic-font-style: italic;
    --inter-40-bold-font-family: "Inter", Helvetica;
    --inter-40-bold-font-weight: 700;
    --inter-40-bold-font-size: 40px;
    --inter-40-bold-letter-spacing: 0px;
    --inter-40-bold-line-height: normal;
    --inter-40-bold-font-style: normal;
    --inter-40-bold-italic-font-family: "Inter", Helvetica;
    --inter-40-bold-italic-font-weight: 700;
    --inter-40-bold-italic-font-size: 40px;
    --inter-40-bold-italic-letter-spacing: 0px;
    --inter-40-bold-italic-line-height: normal;
    --inter-40-bold-italic-font-style: italic;
    --inter-40-extra-bold-font-family: "Inter", Helvetica;
    --inter-40-extra-bold-font-weight: 800;
    --inter-40-extra-bold-font-size: 40px;
    --inter-40-extra-bold-letter-spacing: 0px;
    --inter-40-extra-bold-line-height: normal;
    --inter-40-extra-bold-font-style: normal;
    --inter-40-extra-bold-italic-font-family: "Inter", Helvetica;
    --inter-40-extra-bold-italic-font-weight: 800;
    --inter-40-extra-bold-italic-font-size: 40px;
    --inter-40-extra-bold-italic-letter-spacing: 0px;
    --inter-40-extra-bold-italic-line-height: normal;
    --inter-40-extra-bold-italic-font-style: italic;
    --inter-40-extra-light-font-family: "Inter", Helvetica;
    --inter-40-extra-light-font-weight: 200;
    --inter-40-extra-light-font-size: 40px;
    --inter-40-extra-light-letter-spacing: 0px;
    --inter-40-extra-light-line-height: normal;
    --inter-40-extra-light-font-style: normal;
    --inter-40-extra-light-italic-font-family: "Inter", Helvetica;
    --inter-40-extra-light-italic-font-weight: 200;
    --inter-40-extra-light-italic-font-size: 40px;
    --inter-40-extra-light-italic-letter-spacing: 0px;
    --inter-40-extra-light-italic-line-height: normal;
    --inter-40-extra-light-italic-font-style: italic;
    --inter-40-italic-font-family: "Inter", Helvetica;
    --inter-40-italic-font-weight: 400;
    --inter-40-italic-font-size: 40px;
    --inter-40-italic-letter-spacing: 0px;
    --inter-40-italic-line-height: normal;
    --inter-40-italic-font-style: italic;
    --inter-40-light-font-family: "Inter", Helvetica;
    --inter-40-light-font-weight: 300;
    --inter-40-light-font-size: 40px;
    --inter-40-light-letter-spacing: 0px;
    --inter-40-light-line-height: normal;
    --inter-40-light-font-style: normal;
    --inter-40-light-italic-font-family: "Inter", Helvetica;
    --inter-40-light-italic-font-weight: 300;
    --inter-40-light-italic-font-size: 40px;
    --inter-40-light-italic-letter-spacing: 0px;
    --inter-40-light-italic-line-height: normal;
    --inter-40-light-italic-font-style: italic;
    --inter-40-medium-font-family: "Inter", Helvetica;
    --inter-40-medium-font-weight: 500;
    --inter-40-medium-font-size: 40px;
    --inter-40-medium-letter-spacing: 0px;
    --inter-40-medium-line-height: normal;
    --inter-40-medium-font-style: normal;
    --inter-40-medium-italic-font-family: "Inter", Helvetica;
    --inter-40-medium-italic-font-weight: 500;
    --inter-40-medium-italic-font-size: 40px;
    --inter-40-medium-italic-letter-spacing: 0px;
    --inter-40-medium-italic-line-height: normal;
    --inter-40-medium-italic-font-style: italic;
    --inter-40-regular-font-family: "Inter", Helvetica;
    --inter-40-regular-font-weight: 400;
    --inter-40-regular-font-size: 40px;
    --inter-40-regular-letter-spacing: 0px;
    --inter-40-regular-line-height: normal;
    --inter-40-regular-font-style: normal;
    --inter-40-semi-bold-font-family: "Inter", Helvetica;
    --inter-40-semi-bold-font-weight: 600;
    --inter-40-semi-bold-font-size: 40px;
    --inter-40-semi-bold-letter-spacing: 0px;
    --inter-40-semi-bold-line-height: normal;
    --inter-40-semi-bold-font-style: normal;
    --inter-40-semi-bold-italic-font-family: "Inter", Helvetica;
    --inter-40-semi-bold-italic-font-weight: 600;
    --inter-40-semi-bold-italic-font-size: 40px;
    --inter-40-semi-bold-italic-letter-spacing: 0px;
    --inter-40-semi-bold-italic-line-height: normal;
    --inter-40-semi-bold-italic-font-style: italic;
    --inter-40-thin-font-family: "Inter", Helvetica;
    --inter-40-thin-font-weight: 100;
    --inter-40-thin-font-size: 40px;
    --inter-40-thin-letter-spacing: 0px;
    --inter-40-thin-line-height: normal;
    --inter-40-thin-font-style: normal;
    --inter-40-thin-italic-font-family: "Inter", Helvetica;
    --inter-40-thin-italic-font-weight: 100;
    --inter-40-thin-italic-font-size: 40px;
    --inter-40-thin-italic-letter-spacing: 0px;
    --inter-40-thin-italic-line-height: normal;
    --inter-40-thin-italic-font-style: italic;
  }
  